@using ShinyTeeth.PageDefaults;

@model IdentityPage;

<style>
    .header-logo {
        height: 100px;
        width: 100px;
        border: 1px;
        border-radius: 25px;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShinyTeeth</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    </head>
<body>  
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between mb-4 border-bottom">
        <div class="col-md-3 d-flex justify-content-center align-items-center">
            <img class="header-logo" src="~/media/images/ShinyTeeth.png" />
        </div>



        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li> <a class="btn btn-outline-info mx-1" asp-page="/Index">Home</a></li>
            <li> <a class="btn btn-outline-info mx-1" asp-page="/UserActivities/Services">Service</a></li>
            <li> <a class="btn btn-outline-info mx-1" asp-page="/AboutUs">About Us</a></li>
            <li> <a class="btn btn-outline-info mx-1" asp-page="/Contact">Contact Us</a></li>
            @if (Model.IsAuthenticated)
            {
                @if (Model.IsAdmin)
                {
                    <li>
                        <a class="btn btn-outline-info mx-1" asp-page="/Administrator/ControlPanel">Control Panel</a>
                    </li>
                }
                else
                {
                    
                }
                
            }

        </ul>

        <div class="col-md-3 d-flex justify-content-center align-items-center">
            @if (Model.IsAuthenticated)
            {
                <a class="btn btn-outline-info m-2" asp-page="/Customers/Info" asp-route-Id="@Model.LoginUser.Id">@Model.LoginUser.UserName</a>
                <a class="btn btn-info m-2" asp-page="/Logout">Logout</a>

            }
            else
            {
                <a class="btn btn-outline-info m-2" asp-page="/Login">Login</a>
                <a class="btn btn-info" asp-page="/Register">Register</a>
            }
        </div>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ShinyTeeth - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
