@page
@model ShinyTeeth.Pages.Administrator.ControlPanelModel
@{

}
<style>
    .darker.box {
        --shadow-color: hsl(0deg 0% 0% / 0.4);
    }

    .box {
        filter: drop-shadow( 1px 2px 8px var(--shadow-color) );
    }
</style>
<h1 class="text-center text-info">Control Panel</h1>
<hr />

<div class="container">
    <div class="row">
        @*Chatbox*@
        <div class="col-12 pb-2 pt-2 d-flex align-items-center">
            <div class="col-md-6 col-sm-4 ">
                <div class="box darker card-body border">
                    <h5 class="card-title ">Open Chatbox</h5>
                    <a class="btn btn-primary" asp-page="/Messages/Receptionist">
                        Go
                    </a>
                </div>
            </div>
            @*User Management*@
            <div class="col-md-6 col-sm-4 ">
                <div class="box darker card-body border">
                    <h5 class="card-title">User Management</h5>
                    <a class="btn btn-primary" asp-page="/Customers/Index">
                        Go
                    </a>
                </div>
            </div>
        </div>
        @*Service Management*@
    <div class="col-12 pb-2 pt-2 d-flex align-items-center">
        <div class="col-md-6 col-sm-4 ">
            <div class="box darker card-body border">
                <h5 class="card-title">Service Management</h5>
                <a class="btn btn-primary" asp-page="/Services/Index">
                    Go
                </a>
            </div>
        </div>
        @*Appointment Management*@
        <div class="col-md-6 col-sm-4 ">
            <div class="box darker card-body border">
                <h5 class="card-title">Appointment Management</h5>
                <a class="btn btn-primary" asp-page="/Appointments/Index">
                    Go
                </a>
            </div>
        </div>
    </div>
        @*Notification Management*@
    <div class="col-12 pb-2 pt-2 d-flex align-items-center">
        <div class="col-md-6 col-sm-4 ">
            <div class="box darker card-body border">
                <h5 class="card-title">Notification Management</h5>
                <a class="btn btn-primary" asp-page="/Notifications/Index">
                    Go
                </a>
            </div>
        </div>
        @*Device Management*@
        <div class="col-md-6 col-sm-4 ">
            <div class="box darker card-body border">
                <h5 class="card-title">Device Management</h5>
                <a class="btn btn-primary" asp-page="/Devices/Index">
                    Go
                </a>
            </div>
        </div>
    </div>
        @*Room Management*@
        <div class="col-12 pb-2 pt-2 d-flex align-items-center">
            <div class="col-md-6 col-sm-4 ">
                <div class="box darker card-body border">
                    <h5 class="card-title">Room Management</h5>
                    <a class="btn btn-primary" asp-page="/Rooms/Index">
                        Go
                    </a>
                </div>
            </div>
        </div>
    </div>
   </div>



