@using ShinyTeeth.Models;

@model Doctor;

<div class="card" style="min-width: 350px">
	<div class="card-body">
		<h4>Doctor</h4>
		<hr />
		<p>
			<u>FullName: </u>
			<i>@Model.User.FullName</i>
		</p>
		<p>
			<u>Qualification: </u>
			@if(Model.QualificationURL != null)
			{
				<a href="@Model.QualificationURL" target="_blank" >View</a>
			}
		</p>
		<p>
			<u>Major: </u>
			<i>@Model.Major</i>
		</p>
		<p>
			<u>Created: </u>
			<i>@Model.Created.ToLocalTime()</i>
		</p>
	</div>
</div>
