@page "/view-services"
@model ShinyTeeth.Pages.UserActivities.ServicesModel
@{

}

<div class="col-12 row">
    <div class="col-6">
        <h2 class="text-info">Our Services</h2>
    </div>

    <div class="col-6 d-flex justify-content-end">
        <a class="btn btn-success mt-2" asp-page="/Appointments/Create">Đặt lịch</a>
    </div>
</div>

<hr />

<div class="d-flex flex-wrap justify-content-around" style="gap: 25px">

    @foreach (var item in Model.Services)
    {
        <div class="text-decoration-none card" style="max-width: 250px">
            <img class="card-img-top" src="https://dentistthecolonytx.com/wp-content/uploads/2021/12/Malik-Care-Dental-08.png">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4 class="text-success">
                        @item.ServiceCode
                    </h4>
                    <i class="text-dark">
                        $@item.Price
                    </i>
                </div>
                <div class="text-center">
                    <small class="text-info">
                        @item.Description
                    </small>
                </div>

            </div>
        </div>
    }

</div>