@page
@model ShinyTeeth.Pages.AboutUsModel
@{
}
<style>


</style>

<div class="aboutus-body">
    <div class="container my-5">
        <div class="project-discription row">
            <div class="col-sm-8 col-md-6">
                <div class="text-center text-info mt-5">
                    <h1>Shiny Teeth</h1>
                </div>
                <br />
                <div style="text-align: justify;">
                    <p>Nowadays, medical examination and treatment are becoming more and more difficult because of the increasing demand for services of customers but a large number of patients overloads the system. Because of that, we define a scheduling system that helps the patient can book an appointment through the razor page application.</p>
                </div>
            </div>
            <div class="col-sm-4 col-md-6">
                <img width="100%" src="/media/images/project-discription.jpg" />
            </div>
        </div>

        <div class="group-member row">
            <div class="col-12 row my-5">
                <h1 class="text-info"> Group Member </h1>
            </div>
            <div class="col-12 row">
                <div class="col-sm-4">
                    <div class="card" style="width: 300px;">
                        <img src="/media/images/tran-van-hao.jpg" style="height:300px;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Trần Văn Hảo</h5>
                            <p class="card-text">Student Code: CE150521. Group Leader, Frontend Leader.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 300px;">
                        <img src="/media/images/huynh-tan-phuc.jpg" style="height:300px;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Huynh Tấn Phúc</h5>
                            <p class="card-text">Student Code: CE150521. Backend Leader.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 300px;">
                        <img src="/media/images/dang-do-huu-bang.jpg" style="height:300px;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Đặng Đỗ Hữu Bằng</h5>
                            <p class="card-text">Student Code: CE150521. Backend Member.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 row my-5">
                <div class="col-sm-6 d-flex justify-content-center">
                    <div class="card" style="width: 300px;">
                        <img src="/media/images/ly-tuan-dat.jpg" style="height:300px;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Ly Tuấn Đạt</h5>
                            <p class="card-text">Student Code: CE150521.Frontend Member.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6  d-flex justify-content-center">
                    <div class="card" style="width: 300px;">
                        <img src="/media/images/nguyen-khanh-duy.jpg" style="height:300px;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Huynh Tấn Phúc</h5>
                            <p class="card-text">Student Code: CE150521. Tester.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="technology row">
            <div class="col-12 row my-5">
                <h1 class="text-info"> Technology </h1>
            </div>
            <div class="col-12 row pb-5">
                <div class="col-sm-4">
                    <h1 class="text-info text-center">Asp.Net</h1>
                    <p style="text-align: justify;">ASP.NET is an open-source, server-side web-application framework designed for web development to produce dynamic web pages. It was developed by Microsoft to allow programmers to build dynamic web sites, applications and services. The name stands for Active Server Pages Network Enabled Technologies.</p>
                </div>
                <div class="col-sm-8">
                    <img style="width: 100%;" src="/media/images/asp-net-core.png" />
                </div>
            </div>

            <div class="col-12 row pb-5">
                <div class="col-sm-8">
                    <img style="width: 100%; border:1px solid black;" src="/media/images/razor.png" />
                </div>
                <div class="col-sm-4">
                    <h1 class="text-info text-center">Razor</h1>
                    <p style="text-align: justify;">Razor is an ASP.NET programming syntax used to create dynamic web pages with the C# or VB.NET programming languages. Razor was in development in June 2010 and was released for Microsoft Visual Studio 2010 in January 2011.</p>
                </div>

            </div>

            <div class="col-12 row pb-5">
                <div class="col-sm-4">
                    <h1 class="text-info text-center">SignalR</h1>
                    <p style="text-align: justify;">SignalR is a free and open-source software library for Microsoft ASP.NET that allows server code to send asynchronous notifications to client-side web applications. The library includes server-side and client-side JavaScript components. </p>
                </div>
                <div class="col-sm-8">
                    <img style="width: 100%; border:1px solid black;" src="/media/images/SignalR.png" />
                </div>
            </div>

        </div>
    </div>
</div>