@page
@model ShinyTeeth.Pages.DenyRequestModel
@{
	ViewData["Title"] = "Deny";
}

<partial name="PartialViews/_Messages" for="Messages"></partial>

<h2>Your request denied. Check your permission or contact administrator!</h2>
<hr />