@page
@using ShinyTeeth.Utils
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="home-body">
    <div class="container">
        <div class="row">
            @*Wellcome*@
            <div class="col-12 row">
                @*Wellcome*@
                <div class="col-md-4 col-sm-6 mt-5">
                    <h1 class="text-center text-info">Shiny Teeth</h1>
                    <p style="text-align: justify;">
                        Thank you for visiting our website, log in to your account and make an appointment now.
                    </p>
                    <hr />
                    <div class="row">
                        <div class="col-sm-4">
                            <a asp-page="/Login" class="btn btn-outline-info ">
                                Login
                            </a>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-center">
                                If you don't have an account, sign up below.
                            </p>
                        </div>

                    </div>
                    <hr />
                    <div class="text-center">
                        <a asp-page="/Register" class="btn btn-info  text-white">
                            Register
                        </a>
                    </div>
                </div>
                @*Wellcome Image*@
                <div class="col-md-8 col-sm-6">
                    <img width="100%" height="100%" src="/media//images/Welcome.jpg" />
                </div>
            </div>

            @*Deltal Profile*@
            <div class="col-12 row">
                <div class="col-12 row d-flex justify-content-center my-4">
                    <h1 class="text-info">
                        Overview
                    </h1>
                </div>

                <div class="col-12 row">
                    <div class="col-6">
                        <img width="100%" height="100%" src="/media/images/dental-build.jpg" />
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-center">
                        <p style="text-align: justify;" class="">
                            With a construction location in Can Tho, our dental clinic has more than 20 years of experience in the field of oral and maxillofacial surgery. Coming to the clinic, we will provide you with the best quality services and the best prices.
                        </p>
                    </div>
                </div>
            </div>
           
            <div class="col-12 row">
                <div class="col-12 my-4 d-flex align-items-center justify-content-center">
                    <div style="height: 300px; width: 600px; border-radius: 25px">
                        <img width="100%" height="100%" src="/media/images/dental-doctor.jpg"/>
                    </div>
                </div>
                <div>

                </div>
            </div>

        </div>
    </div>
