@page
@model ShinyTeeth.Pages.LogoutModel
@{

}

<form method="post">
	<div class="card">
		<div class="card-body">
			<p>
				Do you want to sign out?
			</p>
		</div>
		<div class="card-footer">
			<button class="btn btn-danger">Logout</button>
		</div>
	</div>
</form>